@model SaVeIT_Final.Models.AreaOfInterest2

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<h2>Add</h2>


@using (Html.BeginForm("Add", "AreaOfInterest", FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Area of Interest</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AOIName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Model => Model.AOIName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Icon", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" >
                <input type="file" name="image1" id="image1" required  style="display:inline-block"/> <img src="~/images/link.png"  /> <a href="https://www.flaticon.com/" target="_blank">You can find icon here </a>
                <p class="text-danger">@ViewBag.ErrorMessages</p>
                <p class="text-danger">@ViewBag.ErrorMessage</p>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AOIAdmin")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
